.not-found-container {
    min-height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.display-1 {
    font-size: 5rem;
}

.display-3 {
    font-size: 4rem;
}